body {
    background-color: whitesmoke;
    min-width: 500px;
}

p {
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
}

.blueboard {
    border: 10px solid blue;
    border-radius: 25px;
}

.blueboard p:hover {
    color: white;
    background-color: blue;
}

.blueboard div:hover {
    color: white;
    background-color: blue;
}

.greenboard {
    border: 10px solid #73AD21;
    border-radius: 25px;
}

.greenboard p:hover {
    color: white;
    background-color: green;
}

.redboard {
    border: 10px solid red;
    border-radius: 25px;
}

.redboard p:hover {
    color: white;
    background-color: red;
}

#questionboard {
    text-align: center;
}

#questionboard img {
    height: 150px;
}

.center {
    margin: auto;
    width: 60%;
    /* border: 3px solid #73AD21; */
    padding: 10px;
    background-color: white
}

.battlewall {
    background: url('https://poom10510.github.io/QuestionGame/src/cherry-blossom-clipart-wallpaper-12.jpg');
    /* background: url(http://moziru.com/images/cherry-blossom-clipart-wallpaper-12.jpg); */
    height: 300px;
    border: 3px solid palevioletred;
    margin-top: 10px;
}

#battlefield {
    background: transparent url('https://poom10510.github.io/QuestionGame/src/japan-nature-wallpaper-sakura-wallpapers-p-46641844.jpg') center;
    /* background: transparent url(https://wallpaperclicker.com/storage/wallpaper/japan-nature-wallpaper-sakura-wallpapers-p-46641844.jpg) center; */
    background-color: rgb(255, 0, 255);
}

.battlewall .flex-container {
    display: flex;
    /* background: transparent url("./src/road.png") center no-repeat; */
    height: 300px;
    align-items: center;
    justify-content: center;
    /* flex-flow: row wrap; */
    flex-direction: column;
}

.battlewall .flex-container>div {
    background-color: #f1f1f1;
    /* margin: 10px; */
    /* padding: 20px; */
    font-size: 30px;
    /* height: 100px; */
    /* width: 50px; */
    margin: 5px;
}

.flex-container img {
    height: 100px;
}

#summaryfield img {
    height: 200px;
}

.questionnavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(190, 32, 32);
}

.questionnavbar ul li {
    font-size: 30px;
    float: left;
    margin: 10px;
}

.questionnavbar ul li.rightnav {
    float: right;
}

.questionnavbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.orderboard {
    margin: auto;
    width: 60%;
    border: 10px solid black;
    border-radius: 25px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white
}

.summarylist li {
    font-size: 30px;
}

div.moverl {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: move3;
    animation-duration: 4s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    border-radius: 25px 25px 0px 0px;
}

div.moverl2 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: move4;
    animation-duration: 4s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    border-radius: 0px 0px 25px 25px;
}

div.movecenter {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: movect;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

div.testanime {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes mover1 {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

@keyframes move2 {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    50% {
        background-color: yellow;
        left: 100px;
        top: 0px;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

@keyframes move3 {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: green;
        left: 100px;
        top: 0px;
    }
    50% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    75% {
        background-color: yellow;
        left: -100px;
        top: 0px;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

@keyframes move4 {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: green;
        left: -100px;
        top: 0px;
    }
    50% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    75% {
        background-color: yellow;
        left: 100px;
        top: 0px;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

@keyframes movect {
    0% {
        background-color: red;
    }
    25% {
        background-color: green;
    }
    50% {
        background-color: red;
    }
    75% {
        background-color: yellow;
    }
    100% {
        background-color: red;
    }
}

@keyframes example {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    75% {
        background-color: green;
    }
    100% {
        background-color: red;
    }
}