body {
    background-color: whitesmoke;
}

p {
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
}

.answerboard p {
    color: brown;
}

.answerboard p:hover {
    color: white;
    background-color: blue;
}

#questionboard {
    text-align: center;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    background-color: white
}

.questionnavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(190, 32, 32);
}

.questionnavbar ul li {
    font-size: 30px;
    float: left;
    margin: 10px;
}

.questionnavbar ul li.rightnav {
    float: right;
}

.questionnavbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}